<button class="btn btn-link text-decoration-none text-start w-100 px-0 py-0">
    <div class="container-fluid px-0">
        <div class="row gx-0">
            <div class="col-auto pe-2">
                <i class="bi bi-globe" *ngIf="!isPrivate"></i>
                <i class="bi bi-lock" *ngIf="isPrivate"></i>
            </div>
            <!-- <div class="col-auto pe-2"><i class="bi bi-lock"></i></div> -->
            <div class="col">{{ type == 'channel' ? '#' : '' }}{{ name }}</div>
            <!-- <div class="col-auto">
                <div class=" px-2 bg-primary text-light">4</div>
            </div> -->
        </div>
    </div>
</button>