<div class="d-flex flex-column mb-2">
    <div class="row gx-0">
        <div class="col-auto px-0">
            <img width="48" height="48" src="https://i.pravatar.cc/48">
        </div>
        <div class="col ps-2">
            <span><strong>Juan Perez</strong></span>
            <p><span class="text-muted">05:55</span> Yo creo que si</p>
            <p><span class="text-muted">05:55</span> Igual a lo mejor y no</p>
            <p><span class="text-muted">05:55</span> Pero tendriamos que ver</p>
        </div>
    </div>
</div>