/* You can add global styles to this file, and also import other style files */
$primary: #35b784;
$secondary: #5b7e85;
@import "~bootstrap/scss/bootstrap.scss";

html,
body {
    width: 100%;
    height: 100%;
}
